/* body {
    margin: 0 auto;
}

#time {
    float: right;
}

.col-8 {
    display: flex;
    align-content: center;
    height: 50%vh;
    width: 100%vw;
}

.btn {
    display: block;
    margin: 10px auto;
} */


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#start-page #start-quiz-button {
    margin-bottom: auto;
    display: block;
}

#start-page h1 {
    text-align: center;
}

#quiz-page .choice {
    padding: 10px 20px;
    background-color: lightblue;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

#quiz-page #question {
    font-weight: bold;
    margin-top: 20px;
    font-size: x-large;
}